
@{
    ViewBag.Title = "Yenimusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Müşteri Kayıt Formu</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Müşteri Adı</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="MusteriAdi" class="form-control" name="MUSTERIAD" placeholder="Adı">
                            </div>
                            <div class="col-md-4">
                                <label>Müşteri Soyadı</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="MusteriSoyad" class="form-control" name="MUSTERISOYAD" placeholder="Soyadı">
                            </div>
                           
                            <div class="col-sm-12 d-flex justify-content-end">
                                <button class="btn btn-primary mr-1 mb-1" id="KayitButonu">Kayıt</button>
                                
                            </div>
                            
                        </div>
                    </div>
                   
                </form>
            </div>
            
        </div>
       
    </div>
   
</div>



