
@{
    ViewBag.Title = "Yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="card">
    <form method="post">
        <div style="margin-left: 15px; margin-top: 10px; margin-right: 15px">
            <b><label for="KategoriAdi" class="form-label">Kategori Adı</label></b>
            <input type="text" class="form-control" id="KategoriAdi" name="KATEGORIAD">
        </div>
        <div style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px">
            <button class="btn btn-danger">KATEGORİ EKLE</button>
        </div>

    </form>
</div>